.footer {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 0 40px;
  padding: 25px 30px;
  background-color: var(--primary);
  color: white;
}

.footer a:hover {
  color: var(--gray-light);
}

@media (max-width: 765px) {
  .footer {
    grid-template: 1fr 1fr 1fr / 1fr;
    gap: 10px 40px;
  }
}
