.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  cursor: pointer;

  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 #0000000d;
}

.primary {
  color: var(--white);
  background-color: var(--primary);
}

.primary svg * {
  fill: var(--white);
}

.white svg * {
  fill: var(--primary);
}

.primary:hover {
  background-color: var(--primary-hover);
}

.white {
  border: 1px solid var(--gray-light);
  background: var(--white);
}

.white:hover {
  background-color: var(--primary-hover);
}

.white:hover svg * {
  fill: var(--white);
}
