/* Grid - start */
.product {
  display: grid;
  grid-template-columns:
    [start]
    70px [logoend]
    30px [titlestart]
    calc(50% - 100px) [middle]
    1fr [pricestart]
    auto [priceend]
    40px [creditstart]
    auto [creditend]
    40px [ratestart]
    auto [end];

  margin-top: 30px;
  padding: 30px;
}

.logo {
  grid-column: start / logoend;
  grid-row: 1 / span 2;
}

.title,
.tags {
  grid-column: titlestart / middle;
}

.price,
.priceTitle {
  grid-column: pricestart / priceend;

  white-space: nowrap;
}

.credit,
.creditTitle {
  grid-column: creditstart / creditend;
}

.rating,
.rateTitle {
  grid-column: ratestart / end;

  white-space: nowrap;
}

.divider,
.description,
.actions {
  grid-column: start / end;
}

.features {
  grid-column: start / middle;

  padding-right: 60px;
}

.advantagesBlock {
  grid-column: middle / end;
}

/* Grid - end */

.logo img {
  border-radius: 5px;
}

.title {
  align-self: flex-end;

  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}

.price,
.credit {
  align-self: flex-end;

  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

.credit .month {
  font-size: 14px;
  line-height: 19px;
}

.rating {
  align-self: flex-end;
}

.description {
  margin-bottom: 15px;

  font-size: 16px;
  line-height: 24px;
}

.priceTitle,
.creditTitle,
.rateTitle {
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}

.rateTitle a {
  color: var(--primary);
}

.discount {
  margin-left: 8px;
}

.tags {
  display: flex;
  gap: 5px;

  flex-wrap: wrap;

  margin-top: 7px;
}

.actions {
  display: flex;
  gap: 20px;
}

/* stylelint-disable-next-line no-duplicate-selectors */
.advantagesBlock {
  display: grid;
  gap: 20px;

  font-size: 16px;
  line-height: 22px;
}

.advantages {
  display: grid;
  gap: 5px;

  padding-left: 15px;

  border-left: 2px solid #1dc37e;
}

.advantagesTitle {
  font-weight: 700;
}

.disadvantages {
  padding-left: 15px;

  border-left: 2px solid var(--red);
}

.characteristic {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;

  font-size: 16px;
  line-height: 32px;
}

.characteristicName {
  font-weight: 700;
}

.characteristicDots {
  align-self: center;

  height: 1px;
  margin-top: 10px;

  border-bottom: 1px dashed #c4c4c4;
}

.reviewsWrapper {
  overflow: hidden;
}

.reviews {
  margin-top: -10px;
  padding: 30px;
}

@media screen and (max-width: 1320px) {
  .product {
    grid-template-columns: 70px 30px auto 40px auto 40px 1fr;
    grid-template-areas:
      'logo . title title title title title'
      'logo . tags tags tags tags tags'
      'price price price . credit . rating'
      'priceTitle priceTitle priceTitle . creditTitle . rateTitle'
      'divider divider divider divider divider divider divider'
      'description description description description description description description'
      'features features features features features features features'
      'advantagesBlock advantagesBlock advantagesBlock advantagesBlock advantagesBlock advantagesBlock advantagesBlock'
      'divider2 divider2 divider2 divider2 divider2 divider2 divider2'
      'actions actions actions actions actions actions actions';
  }

  .logo {
    grid-area: logo;

    margin-bottom: 20px;
  }

  .title {
    grid-area: title;
  }

  .tags {
    grid-area: tags;

    margin-bottom: 20px;
  }

  .price {
    grid-area: price;
  }

  .credit {
    grid-area: credit;
  }

  .rating {
    grid-area: rating;
  }

  .priceTitle {
    grid-area: priceTitle;
  }

  .creditTitle {
    grid-area: creditTitle;
  }

  .rateTitle {
    grid-area: rateTitle;
  }

  .divider {
    grid-area: divider;
  }

  .divider2 {
    grid-area: divider2;
  }

  .description {
    grid-area: description;
  }

  .features {
    grid-area: features;

    margin-bottom: 20px;
  }

  .advantagesBlock {
    grid-area: advantagesBlock;
  }

  .actions {
    grid-area: actions;
  }
}

@media screen and (max-width: 640px) {
  .product {
    grid-template-columns: 70px 30px 1fr;
    grid-template-areas:
      'logo . title'
      'logo . tags'
      'priceTitle priceTitle price'
      'creditTitle creditTitle credit'
      'rateTitle rateTitle rating'
      'divider divider divider'
      'description description description'
      'features features features'
      'advantagesBlock advantagesBlock advantagesBlock'
      'divider2 divider2 divider2'
      'actions actions actions';
  }

  .price,
  .credit,
  .rating {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 640px) {
  .product {
    grid-template-columns: 1fr;
    grid-template-areas:
      'logo'
      'title'
      'tags'
      'price'
      'priceTitle'
      'credit'
      'creditTitle'
      'rating'
      'rateTitle'
      'divider'
      'description'
      'features'
      'advantagesBlock'
      'divider2'
      'actions';
  }

  .price,
  .credit,
  .rating {
    margin-bottom: 10px;
  }
}
